/*Resting the styles*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
* a {
  text-decoration: none;

}

body {
  background: burlywood;
}

.top-heading {
  margin-top: 100px;
  text-align: center;
  color: blue;
  text-transform: uppercase;
}

.top-heading a {
  text-decoration: none;
  color: blue;
}

.top-heading a:hover {
  color: white;
}
.top-heading a:visited {
  color:blue;
}

.body-content p {
  text-align: center;
  color: white;
  font-size: 16pt;
}

.doc-footer {
  left: 0;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  background: black;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 10pt;
}

.doc-footer p {
  margin-bottom: 5px;
}

.doc-footer a:active, .doc-footer a:visited, .doc-footer a:hover {
  color: white;
  text-decoration: none;
}